@model IEnumerable<Online_Learning_Platform.Models.Category>



@foreach (var item in Model)
{
    <ul>
        <li>
            
            <a class="dropdown-item" asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
            <ul>

                @foreach (var a in item.SubCategory.Where((b) => b.CategoryId == item.Id))
                {
                    <li>
                        @a.Name
                    </li>
                }
            </ul>
        </li>
    </ul>
}