@model IEnumerable<Online_Learning_Platform.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}



<table class="table">
    <tr><th>Email</th><th>Год</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
               
                    @{if (user.Email == "Admin" || user.Email == "Teacher")
                    {

                        <p>Пользователь по умолчанию</p>
                    }
                    else
                    {
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>

                    }
                    }
                   

                
            </td>
        </tr>
    }
</table>