@{
    ViewData["Title"] = "Home Page";
}

<br></br>
<a asp-area="" asp-controller="Categories" asp-action="Index">Категории</a>
<a asp-area="" asp-controller="SubCategories" asp-action="Index">Подкатегории</a>
<a asp-area="" asp-controller="Category_SubCategory" asp-action="Index">Категории-Подкатегории</a>
