@model IEnumerable<Online_Learning_Platform.Models.Category>

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model)
{



    <li>
        <a href=""> @Html.DisplayFor(modelItem => item.Name)</a>

    </li>


}