@using Online_Learning_Platform
@using Online_Learning_Platform.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<li>
    <a href="">Item 1</a>

</li>
<li>
    <a href="">Item 2</a>
</li>

<li>
    <a href="">Item 3</a>

</li>
<li>
    <a href="">Item 4</a>
</li>
    