@model IEnumerable<Online_Learning_Platform.Models.Category>



@foreach (var item in Model) {

    <li class="subcategory">
        
        <a href="">@Html.DisplayFor(modelItem => item.Name)</a>

            <ul >

            @foreach (var a in item.SubCategory.Where((b) => b.CategoryId == item.Id))
            {
                <li>
                    <a href="">@a.Name</a>
                </li>
            }
            </ul>
        
    </li>
}
