@model IEnumerable<Online_Learning_Platform.Models.Category>



@foreach (var item in Model) {

    <li  class="nav-item dropdown">
        <a class="dropdown-item" asp-controller="Categories" asp-action="Details" asp-route-nameCPU="@item.NameCPU">
            @Html.DisplayFor(modelItem => item.Name)
        </a>
        @*<a href="">@Html.DisplayFor(modelItem => item.Name)</a>*@
@*
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            @foreach (var a in item.SubCategory.Where((b) => b.CategoryId == item.Id))
            {
                <li class="dropdown-item">
                    <a href="">@a.Name</a>
                </li>
            }
            </ul>*@
        
    </li>
}
