
@{
    ViewData["Title"] = "Создать пост";
}

<h1>Создать пост</h1>

<h4>Пост</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {

            <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Заголовок</label>
                    <input name="Name" class="form-control" value="Мой курс">

                </div>
                <div class="form-group">
                    <label>Текст</label>
                    <textarea name="Description" rows="15" style="width:100%;">Привет, @User.Identity.Name. Введи сюда содержание твоего курса</textarea>

                </div>
                <div class="form-group">
                    <label>Изображение курса</label>
                    <input name="Image" type="file" class="form-control" />
                </div>
                <div class="form-group" style="display:none">
                    <label>UserId</label>
                    <input name="UserId" class="form-control" value="@User.Identity.Name" readonly="readonly" />
                </div>
                <div class="form-group" >
                    <label>Подкатегория</label>
                    <select name="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
                </div>
                <div class="form-group" style="display:none">
                    <label>DataTime</label>
                    <input type="datetime" name="DateTime" class="form-control" value="@ViewBag.Datatime" readonly="readonly"/>
                </div>
                <div class="form-group" style="display:none">
                    <label>Count</label>
                    <input type="number" name="Count" class="form-control" value="0" readonly="readonly">
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
