html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar_custom ul {
    display: none;
    position: absolute;
    top: 100%;
}

.navbar_custom li:hover ul {
    display: block;
    text-align: center;
    background-color: #F0E68C;
}

.navbar_custom, .navbar_custom ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navbar_custom {
    height: 60px;
    text-align: center;
}

    .navbar_custom a {
        text-decoration: none;
    }

    .navbar_custom li {
        float: left;
        position: relative;
        height: 100%;
       
        
    }

        .navbar_custom li a {
            display: inline-block;
            padding: 15px;
            padding-left: 25px;
            padding-right: 25px;
            color: #000000;
            text-decoration: none;
            text-align: center;
        }

    .navbar_custom ul li {
        float: left;
    }

    .navbar_custom li:hover {
        background-color: #f90;
    }
    .navbar_custom li ul li ul li {
        display:none;
    }
    .navbar_custom li ul li:hover ul li {
        display: table-row;
       
    }


.container_navbar_custom {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #ADD8E6;
}

.navbar-left {
    width: auto;
    float: left;
}
.navbar-center {
    width: 50%;
    float: left;
}
.navbar-center form {
 display: inline-block;
}

.navbar-rigth {
    width: 20%;
    float: right;
}

    .navbar-rigth ul {
        float: right;
    }
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.form-find{
    padding:10px;
    width:100%;
}
    .form-find input {
        width: 70%;
        background: #ecf0f3;
       
        height: 40px;
        font-size: 14px;
        border-radius: 50px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
    .form-find button {
        width: 8%;
        color: white;
       
        background: #1DA1F2;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 900;
       
       
        transition: 0.5s;
    }

        .form-find button:hover {
            background: #800080;
        }
input::-webkit-input-placeholder {
    text-align: center;
}

input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

input::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

input:-ms-input-placeholder {
    text-align: center;
}

.box {
    width: 90%;
    height: contain;
    text-align: center;
    margin: 0 auto;
}
.box2 {
    width: 90%;
    height: contain;
    text-align: left;
    margin: 0 auto;
    
}
    .box p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }